POSTFIAT_SCORING_BASE_URL=https://scoring-testnet.postfiat.org
POSTFIAT_SIDECAR_DATA_DIR=~/.postfiat/validator-scoring-sidecar/testnet
POSTFIAT_SIDECAR_IPFS_GATEWAY_URL=https://ipfs-testnet.postfiat.org/ipfs
POSTFIAT_SIDECAR_NETWORK=testnet
POSTFIAT_SIDECAR_TIMEOUT_SECONDS=30
