POSTFIAT_SCORING_BASE_URL=https://scoring-devnet.postfiat.org
POSTFIAT_SIDECAR_DATA_DIR=~/.postfiat/validator-scoring-sidecar/devnet
POSTFIAT_SIDECAR_IPFS_GATEWAY_URL=https://ipfs-testnet.postfiat.org/ipfs
POSTFIAT_SIDECAR_NETWORK=devnet
POSTFIAT_SIDECAR_TIMEOUT_SECONDS=30
